.project {
  padding: 1rem;
  background-color: #f4f4f4;
  border-radius: 0.313rem;
  display: block;
  text-decoration: none;
  color: #333;

  &__title {
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 0.313rem;
    margin-bottom: 20px;
  }
}
