.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.313rem;

  & a {
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
      background-color: #750d37;
      color: #fff;
    }
  }
}
